.card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 600px; /* Set a maximum width if needed */
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 16px;
  }
  
  .card img {
    width: 75%;
    object-fit: cover;
    border-radius: 8px;
  }
  .card button {
    display: flex;
    flex-direction: column; /* Align icon and text vertically */
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 100%; /* Set height to 100% */
    border-radius: 50%;
    background-color: #f0f0f0;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
 
  
  
  .card-button-icon {
    color: #333;
    font-size: 30px;
    margin-bottom: 4px; /* Add margin bottom to create space between icon and text */
  }
  